<div class="container">
  <div class="row">
    <h2>物件追加画面</h2>
  </div>

  <div class="row">
    <div>
      <%= form_with model: @owner, local: true do |f| %>
      <table>
        <tr>
          <th>物件名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>顧客名</th>
          <td><%= f.collection_select :client_id, Client.all, :id, :name, {prompt:"--選択してください--"}, class: "form-control" %></td>

        </tr>
      </table>
      <div>
        <%= f.submit "新規登録", class: "btn btn-outline-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>