<div class="container">
  <div class="row">
    <h2 class="mx-auto">社員一覧</h2>
  </div>
</div>
<div class="container">
    <div class="mx-auto">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |f| %>
          <tr>
            <td>
              <%= link_to user_path(f.id) do %>
              <%= f.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>

