<div class="container">
  <div class="row">
    <h2 class="mx-auto">チャット一覧</h2>
  </div>
</div>
<div class="container">
  <div class="mx-auto">
    <table class="table table-borderless text-left">
      <tr>
        <td>
          <% @users.each do |f| %>
            <% if f != current_user %>
              <%= link_to chat_path(f.id) do %>
                <h5><li><%= f.name %>さん</li></h5>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= paginate @users %>
    </div>
  </div>
</div>





