<div class="conatiner">
  <div class="row">
    <div class="mx-auto">
      <div>
        <table>
          <thead>
            <td>本日中にやること</td>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div>
        <table>
          <thead>
            <td>新着チャット</td>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>