<div class="container">
  <div class="row">
    <h2>資材名編集</h2>
  </div>
  <div class="row">
    <div>
      <%= form_with model: @material, url: material_path(@material.id), local:true do |f| %>
      <table>
        <tbody>
          <tr>
            <td>資材名</td>
            <td><%= f.text_field :material_name %></td>
            <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>